.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-row{
  display: flex;
  justify-content: space-around;
}
.services{
  width: 35%;
  padding-left: 30px;

}
.service-items{
  display: flex;
  flex-wrap: wrap;
}
.svc-item{
  width: 30%;
}
.svc-item img{
  height: 60px;

}
.contact{
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.contact-items{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.con-item img{
  height: 50px;
}
#luke-main{
  height:450px;
}
.org-items{
  display: flex;
  justify-content: space-around;
}
.org-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.org-item img{
  height: 75px;
}
.org-name{
  font-weight: bold;
}
.org-title{
  font-style: italic;
}
/*Delays*/
.first-delay{
  -webkit-animation-delay: 4s;
}
.second-delay{
  -webkit-animation-delay: 5.5s;
}
.third-delay{
  -webkit-animation-delay: 5.5s;
}
.marketing{
  -webkit-animation-delay: 6s;
}
.web-dev{
  -webkit-animation-delay: 6.1s;
}
.biz{
  -webkit-animation-delay: 6.2s;
}
.design{
  -webkit-animation-delay: 6.3s;
}
.sales{
  -webkit-animation-delay: 6.4s;
}
.speaking{
  -webkit-animation-delay: 6.5s;
}
.email{
  -webkit-animation-delay: 6s;
}
.facebook{
  -webkit-animation-delay: 6.1s;
}
.twitter{
  -webkit-animation-delay: 6.2s;
}
.instagram{
  -webkit-animation-delay: 6.3s;
}
.linkedin{
  -webkit-animation-delay: 6.4s;
}
